@import url(common.css);
@import url(header.css);
@import url(detail.css);
@import url(cart.css);
@import url(footer.css);


/*---------- mainpage style ----------*/


/* 상단 컨텐츠 */
.mainImg {
  width: 100%;
  height:0;
  padding-top:calc(2000 / 3000 * 100%);
  max-width: 3000px;
  background-size : cover;
  background-position : center center;
  background-repeat: no-repeat;
}
.mainText {padding: 0 50px;margin: 100px auto;max-width: 1600px;}
.mainText>h4.mainTitle {font-size: 40px;color: #444;margin-bottom: 100px;text-align: center;font-family: 'Caprasimo', cursive;}
.mainText>div.mainPicture {display: grid;row-gap: 10px;}
.mainText>div.mainPicture>div {display: grid;grid-template-columns: repeat(3, 1fr) ;}
.mainText>div.mainPicture>button.mpbtn {
  width: 150px;
  margin: 0 auto;
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
  font-family: 'Lilita One', cursive;
  letter-spacing: -0.5px;
  font-weight: 500;
  color: #333;
  border: 1px solid #333;
  border-radius: 15px;
  background-color: transparent;
}
.mainText>div.mainPicture>button.mpbtn:hover {background-color: #333;color: #fff;}
.mainText>div.mainPicture>button.mpbtn.display {display: none;}
.mainText>div.mainPicture>div>div.picture {position: relative;padding-bottom: 30px;}
.mainText>div.mainPicture>div>div.picture h4 {font-size: 19px;}
.mainText>div.mainPicture>div>div.picture .pictureMo {position: relative;cursor: pointer;}
.mainText>div.mainPicture>div>div.picture .pictureMo>img {width: 100%;}



/* 이미지 호버시 모달창 */
.pictureHv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.pictureHv:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 20px;
  background-color: rgba(255, 255, 255,0.6);
}

.pictureHv>h1 {
  position: absolute;
  z-index: 100;
  top: 48%;
  left: 53%;
  transform: translate(-50%,-50%);
  color: #333;
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  font-family: 'Caprasimo', cursive;
}



/* 하단 컨텐츠 */
.mainText>div.tabBtn {
  width: 60%;
  margin: 0 auto;
  justify-content: space-around;
  display: flex;
  margin-bottom: 40px;
  height: 55px;
}
.mainText>div.tabBtn>button {
  border: none;
  background-color: transparent;
  transition: 0.5s;
  font-size: 22px;
  cursor: pointer;
  font-family: 'Caprasimo', cursive;
  flex: 1;
}
.mainText>div.tabBtn>button.none {border: none;color: #999;}
.mainText>div.tabBtn>button.on {border-radius: 15px;color: #fff;background-color: #333;}












/* 장바구니 */
.Wrap {
  width: 1400px;
  min-width: 1400px;
  margin: 0 auto 150px;
  border: 4px solid red;
}


.start {
  opacity: 0;
  transition: opacity 0.5s;
}
.end {
  opacity: 1;
  transition: opacity 0.5s;
}


.loading {
  width: 100%;
  height: 30px;
  background-color: #61dafb;
}






.Wrap .allSelect {
  display: flex;
  column-gap: 15px;
  cursor: pointer;
  font-family: 'NanumSquareNeo-Variable';
}



.Wrap>h4 {
  font-family: 'NanumSquareNeo-Variable';
  font-weight: 600;
  font-size: 48px;
  color: #333;
  text-align: center;
  padding: 60px 0;
}
.cartWrap  {
  display: flex;
}
.cartWrap .cartwrapInner {
  flex: 1.5;
}
.cartWrap .cartwrapInner .leftBox {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}
.cartWrap .cartwrapInner .leftBox>div {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
}
.cartWrap .cartwrapInner .leftBox>div:nth-child(1) {flex: 3;}
.cartWrap .cartwrapInner .leftBox>div:nth-child(1) .name {
  color: #444;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 20px;
}
.cartWrap .cartwrapInner .leftBox>div.countBtn {
  flex-direction: column;
  justify-content: center;
}
.cartWrap .cartwrapInner .leftBox>div.countBtn span,
.cartWrap .cartwrapInner .leftBox>div.priceBtn span {
  font-size: 20px;
  color: #444;
}
.cartWrap .cartwrapInner .leftBox>div.countBtn span.xiarr,
.cartWrap .cartwrapInner .leftBox>div.priceBtn span.xiclose  {
  cursor: pointer;
}
.cartWrap .cartwrapInner .leftBox>div.countBtn span:not(.xiarr) {
  margin: 10px 0;
}
.cartWrap .cartwrapInner .leftBox>div.priceBtn span:not(.xiclose) {
  margin-right: 20px;
}




.cartWrap .cartImg {
  width: 40%;
  padding-left: 20px;
}


.cartWrap input[type="checkbox"] {
  display: none;
}
.cartWrap input[type="checkbox"] + .ckbox {
  position: relative;
  cursor: pointer;
}
 .cartWrap input[type="checkbox"] + .ckbox:before {
  content:'';
  display:inline-block;
  top: 0;
  left: 0;
  width:30px;
  height:30px;
  background-size:100%;
  background-image:url('../public/ckbox.png');
  background-size: cover;

}
.cartWrap input[type="checkbox"]:checked + .ckbox:before {
  background-image:url('../public/ckbox_ck.png');
}

/* 전체 선택 */
.cartWrap input[type="checkbox"] + .ckbox.check:before {
  background-image:url('../public/ckbox_ck.png');
}




.cartWrap .rightBox {
  flex: 0.5;
  height: 300px;
  margin-left: 30px;
  margin-top: 100px;
  padding: 50px;
  background-color: #f9f9f9;
}
.cartWrap .rightBox li, .cartWrap .rightBox h6 {
  font-family: 'NanumSquareNeo-Variable';
}

.cartWrap .rightBox h6 {
  text-align: center;
  font-size: 25px;
  border-bottom: 1px solid #000;
  padding-bottom:30px;
}

.cartWrap .rightBox ul {display: flex;justify-content: space-between;}





.cartModalll {
  font-family: 'NanumSquareNeo-Variable';
  position: fixed;
  top: 0;
  left: 0;
  height : 100%;
  background-color: rgba(0, 0, 0,0.4);
  width: 100%;
  z-index: 1000;
  overflow-y: hidden;
}
.cartModalll>div {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 150px;
  transform: translate(-50%,-50%);
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
  padding: 60px 0;
}
.cartModalll .cartModalll_seco {
  width: 90%;
  margin: 0 auto;
  font-size: 20px;
}
.cartModalll .cartModalll_seco>h5 {
  color: #333;
  text-transform: uppercase;
}
.cartModalll .cartModalll_seco>ul {
  display: flex;
  justify-content: space-around;
  column-gap: 10px;
  margin-top: 30px;
  width: 100%;
}
.cartModalll .cartModalll_seco>ul>li {
  flex: 1;
  border: 1px solid #666;
  padding: 15px 0;
  color: #333;
  border-radius: 5px;
}
.cartModalll .cartModalll_seco>ul>li:hover {
  background-color: #00b6b8;
  border: none;
  color: #fff;
  cursor: pointer;
  
}

/* .modalStart {
  display: block;
}
.modalEnd {
  display: none;
  transition: opacity 0.5s;
} */







.wrap .mainPicture .picture .moreBtn {
  border: none;
  position: absolute;
  right: 35px;
  width: 80px;
  border-radius: 3px;
  background-color: #eae6e4;
  transition: 0.5s;
}
.wrap .mainPicture .picture .moreBtn:hover {
 transform: scale(1.08);
}


.hoverModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height : 80%;
  background-color: rgba(0, 0, 0,0.4);
  width: 70%;
  color: #fff;
  
}





.tabImg {
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.tabImg>img {
  width: 100%;
}




















/* 상세페이지 */

.detailWrap {
  width: 1400px;
  margin: 0 auto 150px;
}
.detailCon {
  margin-top: 80px;
  display: flex;
  font-family: 'NanumSquareNeo-Variable';
}
.detailCon>div {
  width: 40%;
}
.detailCon h4 {
  margin-bottom: 30px;
  font-family: 'Caprasimo', cursive;
  font-size: 50px;
  text-transform:uppercase;
}
.detailCon img {
  width: 50%;
}
.detailCon>div>table {
  width: 100%;
  border: 1px solid #444;
}
.detailCon>div>table td:first-child {
  font-size: 18px;
}
.detailCon>div>table td:nth-child(2) {
  font-size: 16px;
  line-height: 30px;
}
.detailCon>div>table td {
  padding: 8px 20px;
  border: 1px solid #000;
}
.detailCon>div>.btn {
  font-family: 'NOto sans KR', sans-serif;
  border: none;
  padding: 15px;
  font-size: 16px;
  color: #fff;
  width: 100%;
  margin-top: 20px;
  cursor: pointer;
}
.detailCon>div>.btn.btnCart {
  background-color: rgb(195, 8, 8);
  margin-top: 5px;
}
.detailCon>div>.btn.btnPur {
  background-color: rgb(163, 16, 16);

}


.detailTab {
  margin-top: 150px;
}
.detailTab>div {
  width: 100%;
  margin: 0 auto;
}
.detailTab>div.Tab {
  height: 80px;
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-around;
}
.detailTab .Tab button {
  color: #777;
  font-weight: 500;
  font-size: 23px;
  background-color: transparent;
  border: none;
  font-family: 'NanumSquareNeo-Variable';
  width: 100%;
  cursor: pointer;
}

.detailTab>div button.on {
  color: #333;
  font-weight: bold;
}
.detailTab>div button.none {
  color: #777;
  font-weight: 500;
}



.picBack .picBack_inner {
  display: flex;
  justify-content: space-between;
  height: 800px;
}
.picBackImg {
  background-color: #f8f8f8;
  position: relative;
  width: 65%;
  background-size: cover;
  background-position: center center;
}
.picBackImg img {
  position: absolute;
  width: 100%;
  height: 100%;
} 
.picBackImg img.display {
  display: none;
}

.picBack .picBack_inner .rightText {
  margin-left: 80px;
  width: 35%;
  display: flex;
  flex-direction: column;
}
.picBack .picBack_inner .rightText>div {
  /* border: 1px solid #000; */
  flex: 1;
}

.picBack p {
  font-family: 'NanumSquareNeo-Variable';
  letter-spacing: 1px;
  line-height: 25px;
}
.picBack h4 {
  margin-top: 100px;
  font-size: 30px;
  font-family: 'NanumSquareNeo-Variable';
  font-weight: bold;
  margin-bottom: 30px;
}
.picBack h5 {
  font-size: 25px;
  font-family: 'NanumSquareNeo-Variable';
  font-weight: bold;
}

.picBack .picBack_inner .rightText .bgImg div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}
.picBack .picBack_inner .rightText .bgImg div>img {
  width: 150px;
  height: 150px;
  border: 1px solid #ddd;
  cursor: pointer;
}
.picBack .picBack_inner .rightText .bgImg div>img.on {
  border: 1px solid #444;
}
.picBack .picBack_inner .rightText .bgImg div>img.none {
  border: 1px solid #ddd;
}
/* 썸네일 이미지 클릭시 변경 */








.picBack .picBack_inner .bgColor div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;

}
.picBack span {
  display: inline-block;
  width: 100px;
  height: 100px;
  position: relative;
  cursor: pointer;
}
.picBack span.on:after {
  content:"\f00c";
  font-family: fontawesome;
  font-size: 30px;
  color: #a37c7c;
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}
.picBack span.none {
  border: none;
}
.picBack span:nth-of-type(1) {
  background-color: #f8f8f8;
}
.picBack span:nth-of-type(2) {
  background-color: #eeeeee;
}
.picBack span:nth-of-type(3) {
  background-color: #ebe8d3;
}
.picBack span:nth-of-type(4) {
  background-color: #c6d2d9;
}
.picBack span:nth-of-type(5) {
  background-color: #acacab;
}
.picBack span:nth-of-type(6) {
  background-color: #00b6b8;
}
.picBack span:nth-of-type(7) {
  background-color: #8c110d;
}
.picBack span:nth-of-type(8) {
  background-color: #3b3b3b;
}




/* 자주 묻는 질문 */
.picBack.faqWrap ul {
  font-family: 'NanumSquareNeo-Variable';
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  padding: 15px 0;
  color: #444;
  margin-top: 20px;
}
.picBack.faqWrap ul>li:first-child {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}
.picBack.faqWrap ul>li:nth-child(2) {
  font-size: 18px;
  display: none;
  padding-left: 25px;
}
.picBack.faqWrap ul>li:nth-child(2).on {
  display: block;
}