@import url(common.css);
@import url(detail.css);



/*---------- mainpage style ----------*/


/* 상단 메인 컨텐츠 */
.mainImg {
  width: 100%;
  height:0;
  padding-top:calc(2000 / 3000 * 100%);
  max-width: 3000px;
  background-size : cover;
  background-position : center center;
  background-repeat: no-repeat;
}
.mainText {padding: 0 50px;margin: 100px auto;max-width: 1600px;}
.mainText>h4.mainTitle {font-size: 40px;color: #444;margin-bottom: 100px;text-align: center;font-family: 'Caprasimo', cursive;}
.mainText>div.mainPicture {display: grid;row-gap: 10px;}
.mainText>div.mainPicture>div {display: grid;grid-template-columns: repeat(3, 1fr) ;}
.mainText>div.mainPicture>button.mpbtn {
  width: 150px;
  margin: 0 auto;
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
  font-family: 'Lilita One', cursive;
  letter-spacing: -0.5px;
  font-weight: 500;
  color: #333;
  border: 1px solid #333;
  border-radius: 15px;
  background-color: transparent;
}
.mainText>div.mainPicture>button.mpbtn:hover {background-color: #333;color: #fff;}
.mainText>div.mainPicture>button.mpbtn.display {display: none;}
.mainText>div.mainPicture>div>div.picture {position: relative;padding-bottom: 30px;}
.mainText>div.mainPicture>div>div.picture h4 {font-size: 19px;}
.mainText>div.mainPicture>div>div.picture .pictureMo {position: relative;cursor: pointer;}
.mainText>div.mainPicture>div>div.picture .pictureMo>img {width: 100%;}




/* 이미지 호버시 모달창 */
.mainText>div.mainPicture>div>div.picture .pictureMo>div.pictureHv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.mainText>div.mainPicture>div>div.picture .pictureMo>div.pictureHv:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 20px;
  background-color: rgba(255, 255, 255,0.6);
}
.mainText>div.mainPicture>div>div.picture .pictureMo>div.pictureHv>h1 {
  position: absolute;
  z-index: 100;
  top: 48%;
  left: 53%;
  transform: translate(-50%,-50%);
  color: #333;
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  font-family: 'Caprasimo', cursive;
}



/* 하단 컨텐츠 - Photo type */
.mainText>div.tabBtn {
  width: 60%;
  margin: 0 auto;
  justify-content: space-around;
  display: flex;
  margin-bottom: 40px;
  height: 55px;
}
.mainText>div.tabBtn>button {
  border: none;
  background-color: transparent;
  font-size: 25px;
  cursor: pointer;
  font-family: 'Oleo Script', cursive;
  width: 100px;
}
.mainText>div.tabBtn>button.none {border: none;color: #aaa;}
.mainText>div.tabBtn>button.on {color: #333;font-weight: bold;}









@media (min-width:360px) and (max-width:767px) {
  .mainText {padding: 0 20px;}
  .mainText>div.mainPicture>div {grid-template-columns: repeat(2, 1fr);}
  .mainText>h4.mainTitle {font-size: 30px;margin-bottom: 50px;}
  .mainText>div.mainPicture>button.mpbtn {width: 100px;padding: 5px;font-size: 16px;}
  .mainText>div.tabBtn>button {font-size: 18px;}
  .mainText>div>div.tabImg {grid-template-columns: repeat(2,1fr);}
}
























