

/*---------- detail style ----------*/

/* 상단 컨텐츠 */
.detailContent {max-width: 1800px;width: 100%;margin: 200px auto 150px;}
.detailContent>div.detailCon {display: flex;align-items: center;font-family: 'NanumSquareNeo-Variable';justify-content: space-between;}
.detailContent>div.detailCon>img {width: 50%;}
.detailContent>div.detailCon>div {width: 40%;}
.detailContent>div.detailCon>div>h4 {margin-bottom: 30px;font-family: 'Caprasimo', cursive;font-size: 50px;text-transform:uppercase;}
.detailContent>div.detailCon>div>table {width: 100%;border: 1px solid #444;}
.detailContent>div.detailCon>div>table td {padding: 8px 20px;border: 1px solid #444;}
.detailContent>div.detailCon>div>table td:nth-child(1){font-size: 18px;}
.detailContent>div.detailCon>div>table td:nth-child(2) {font-size: 16px;line-height: 30px;}
.detailContent>div.detailCon>div>button.btn {
    font-family: 'NOto sans KR', sans-serif;
    border: none;
    padding: 15px;
    font-size: 16px;
    color: #fff;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
  }
.detailContent>div.detailCon>div>button.btn.btnPur {background-color: rgb(163, 16, 16);}
.detailContent>div.detailCon>div>button.btn.btnCart {background-color: rgb(195, 8, 8);margin-top: 5px;}


  
  
/* 하단 탭 컨텐츠 */
.detailContent>div.detailTab {margin-top: 150px;}
.detailContent>div.detailTab>div {width: 100%;margin: 0 auto;}
.detailContent>div.detailTab>div.Tab {height: 80px;background-color: #f8f8f8;display: flex;justify-content: space-around;}
.detailContent>div.detailTab>div.Tab>button {
  color: #777;
  font-weight: 500;
  font-size: 23px;
  background-color: transparent;
  border: none;
  font-family: 'NanumSquareNeo-Variable';
  width: 100%;
  cursor: pointer;
}
.detailContent>div.detailTab>div.Tab>button.on {color: #333;font-weight: bold;}
.detailContent>div.detailTab>div.Tab>button.none {color: #777;font-weight: 500;}
.detailContent>div.detailTab>div.tabcontent {opacity: 0;transition: opacity 0.5s;}
.detailContent>div.detailTab>div.end { opacity: 1;transition: opacity 0.5s;}
.detailContent>div.detailTab>div.tabcontent>div.cont>h2.contTitle {
  margin-top: 100px;
  font-size: 30px;
  font-family: 'NanumSquareNeo-Variable';
  font-weight: bold;
  margin-bottom: 30px;
}



/* 하단 탭 컨텐츠 - 작품 걸어보기 */
.detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner {display: flex !important;justify-content: space-between;height: auto !important;}
.detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner>div.picBackImg {
  background-color: #f8f8f8;
  position: relative;
  width: 100%;
  height: auto;

 

}

.detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner>div.picBackImg>img {position: absolute;width: 100%;top: 0;left: 0;} 
.detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner>div.picBackImg>img.display {display: none;}
.detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner>div.rightText {margin-left: 80px;width: 35%;display: flex;flex-direction: column;}
.detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner>div.rightText>div>h5 {font-size: 25px;font-family: 'NanumSquareNeo-Variable'; font-weight: bold;margin-top: 0;margin-bottom: 15px;}
.detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner>div.rightText>div:nth-child(2)>h5 {margin-bottom: 15px;margin-top: 50px;}
.detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner>div.rightText>div.bgImg {flex: 0
.5;}
.detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner>div.rightText>div.bgImg>div {display: grid;grid-template-columns: repeat(2, 150px);grid-gap: 15px;}
.detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner>div.rightText>div.bgImg>div>img {width: 150px;height: 150px;border: 1px solid #ddd;cursor: pointer;}
.detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner>div.rightText>div.bgImg>div>img.on {border: 1px solid #444;}
.detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner>div.rightText>div.bgImg>div>img.none {border: 1px solid #ddd;}
.detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner>div.rightText>div.bgColor>div {display: grid;grid-template-columns: repeat(3, 100px);grid-gap: 15px;}
.detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner>div.rightText>div.bgColor>div>span {
  display: inline-block;
  width: 100px;
  height: 100px;
  position: relative;
  cursor: pointer;
}
.detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner>div.rightText>div.bgColor>div>span.on:after {
  content:"\f00c";
  font-family: fontawesome;
  font-size: 30px;
  color: #a37c7c;
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner>div.rightText>div.bgColor>div>span.none {border: none;}
.detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner>div.rightText>div.bgColor>div>span:nth-of-type(1) {background-color: #f8f8f8;}
.detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner>div.rightText>div.bgColor>div>span:nth-of-type(2) {background-color: #eeeeee;}
.detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner>div.rightText>div.bgColor>div>span:nth-of-type(3) {background-color: #ebe8d3;}
.detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner>div.rightText>div.bgColor>div>span:nth-of-type(4) {background-color: #c6d2d9;}
.detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner>div.rightText>div.bgColor>div>span:nth-of-type(5) {background-color: #acacab;}
.detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner>div.rightText>div.bgColor>div>span:nth-of-type(6) { background-color: #00b6b8;}
.detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner>div.rightText>div.bgColor>div>span:nth-of-type(7) {background-color: #8c110d;}
.detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner>div.rightText>div.bgColor>div>span:nth-of-type(8) {background-color: #3b3b3b;}

.detailContent>div.detailTab>div.tabcontent>div.cont>h3 {
  margin-top: 100px;
  font-size: 30px;
  font-family: 'NanumSquareNeo-Variable';
  font-weight: bold;
  margin-bottom: 30px;
}
.detailContent>div.detailTab>div.tabcontent>div.cont>p {font-family: 'NanumSquareNeo-Variable';letter-spacing: 1px;line-height: 25px;}
 




/* 하단 탭 컨텐츠 - 자주 묻는 질문 */
.detailContent>div.detailTab>div.tabcontent>div.cont.faqWrap>ul {
  font-family: 'NanumSquareNeo-Variable';
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  padding: 30px 0;
  color: #444;
  margin-top: 20px;
}
.detailContent>div.detailTab>div.tabcontent>div.cont.faqWrap>ul>li:nth-child(1) {font-size: 20px;margin-bottom: 40px;font-weight: bold;}
.detailContent>div.detailTab>div.tabcontent>div.cont.faqWrap>ul>li:nth-child(2) {font-size: 18px;display: none;}
.detailContent>div.detailTab>div.tabcontent>div.cont.faqWrap>ul>li:nth-child(2).on {display: block;}











@media (min-width:1440px) {
  .detailContent {max-width: 1200px;padding: 0 80px;}
}

@media (min-width:1280px) and (max-width : 1439.9px) {
  .detailContent {max-width: 1200px;padding: 0 30px;}
}

@media (min-width:1024px) and (max-width : 1279.9px) {
  .detailContent {width: 900px;padding: 0 50px;}
  .detailContent>div.detailCon {justify-content: space-around;}
  .detailContent>div.detailCon>div>h4 {font-size: 38px;text-align: center;}
  .detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner {
    flex-direction: column;row-gap: 20px;
  }
  .detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner>div.rightText>div.bgImg {flex: 1;}
  .detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner>div.rightText>div.bgImg>div>img {width: 100px;height: 100px;}
  .detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner>div.rightText>div.bgImg>div {grid-template-columns: repeat(3, 100px);}
  .detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner>div.picBackImg {
    height: auto;
    width: 100%;
    position: relative;
    padding-top: calc(2000 / 2000 * 100%);
  }
  .detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner>div.picBackImg>img {height: 100%;}
  .detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner>div.rightText {margin-left: 0;} 
}

@media (min-width:768px) and (max-width : 1023.9px) {
  .detailContent {width: 100%;padding: 0 30px;box-sizing: border-box;margin : 140px auto 0;}
  .detailContent>div.detailCon>div {width: 80%;}
  .detailContent>div.detailCon {justify-content: space-around;flex-direction: column;}
  .detailContent>div.detailCon>div>h4 {font-size: 38px;text-align: center;}
  .detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner {
    flex-direction: column;row-gap: 20px;
  }
  .detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner>div.rightText {margin-left: 80px;width: 35%;display: flex;flex-direction: row;}
  .detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner>div.rightText {width: 100%;margin-left: 0;}

  .detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner>div.picBackImg {
    height: auto;
    width: 100%;
    position: relative;
    padding-top: calc(2000 / 2000 * 100%);
  }
  .detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner>div.picBackImg>img {height: 100%;}
  .detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner>div.rightText>div.bgImg {flex: 1;}
}

@media (min-width:320px) and (max-width : 767.9px) {
  .detailContent {width: 100%;padding: 0 20px;box-sizing: border-box;margin : 110px auto 0;}
  .detailContent>div.detailCon>div {width: 80%;}
  .detailContent>div.detailCon {justify-content: space-around;flex-direction: column;}
  .detailContent>div.detailCon>div>h4 {font-size: 38px;text-align: center;}
  .detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner {

    flex-direction: column;row-gap: 20px;}
  .detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner>div.rightText {margin-left: 0;width: 100%;display: flex;flex-direction: column;}
  .detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner>div.rightText>div {display: block;width: 100%;}
  .detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner>div.picBackImg {
    height: auto;
    width: 100%;
    position: relative;
    padding-top: calc(2000 / 2000 * 100%);
  }
  .detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner>div.picBackImg>img {height: 100%;}
  .detailContent>div.detailTab>div.Tab {height: 80px;background-color: transparent;display: flex;justify-content: space-around;flex-direction: column;}
  .detailContent>div.detailTab>div.Tab>button {background-color: transparent;width: 100%;margin: 0 auto;padding: 10px 0;max-width: 60%;}
  .detailContent>div.detailTab>div.Tab>button.on {color: #333;font-weight: bold;border: 1px solid #444;border-radius: 10px;}
  .detailContent>div.detailTab>div.Tab>button.none {color: #777;font-weight: 500;border: none;}
  .detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner>div.rightText>div.bgImg {flex: 1;}
  .detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner>div.rightText>div.bgImg>div>img {width: 80px;height: 80px;}
  .detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner>div.rightText>div.bgImg>div {grid-template-columns: repeat(3, 80px);}
  .detailContent>div.detailCon>div {width: 100%;}
  .detailContent>div.detailCon>img {width: 100%;}
  .detailContent>div.detailTab {margin-top: 100px;}
  /* .detailContent>div.detailTab>div.tabcontent>div.cont>div.picBack_inner>div.rightText>div.bgColor>div {grid-template-columns: ;} */
}