/*---------- footer style ----------*/

.footer {height: 250px;background-color: #111;padding: 40px 60px;}
.footer>div {display: flex;justify-content: space-between;}
.footer>div>h1 {font-family: 'roboto', sans-serif;color: #fff;font-size: 30px;cursor: pointer;}
.footer>div>h1>.fa_insta {font-size: 25px;margin-left: 20px;transform: translateY(3px);cursor: pointer;}
.footer>hr {color: #fff;width: 100%;margin: 20px 0;}
.footer>p.footerText {color: #fff;font-family: 'NanumSquareNeo-Variable';line-height: 35px;font-size: 18px;letter-spacing: -0.5px;}
  