

/*---------- header style ----------*/

nav.none {background-color: transparent;width: 100%;position: fixed;z-index: 10000;top: 0;}
nav.scroll {background-color: #fff;    border-bottom: 1px solid #ddd;}
nav>div.mainPop {
    background-color: #00b6b8;
    color: #fff;
    font-family: 'NanumSquareNeo-Variable';
    height: 40px;
    width: 100%;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
}
nav>div.mainPop.scroll {display: none;}
nav>div.navBar {display: flex;justify-content: space-between;align-items: center; padding: 0 40px;height:90px;}
nav>div.navBar>h1 {font-size: 55px;color: #333;width: 80%;font-family: 'Oleo Script', cursive;cursor: pointer;font-weight: lighter;}
nav>div.navBar>ul {display: flex;width: 20%;align-items: center;justify-content: space-around;}
nav>div.navBar>ul>li {
    font-size: 18px;
    cursor: pointer;
    flex: 1;
    text-align: center;
    cursor: pointer;
    font-family: 'Caprasimo', cursive;
    color: #333;
}
nav>div.navBar>ul>li>i {margin-right: 10px;}